/* 
0. Imports
=============================================================================================*/
@media screen and (max-width: 767px) {
  .row-offcanvas {
    transition: all 0.4s ease 0s;
    position: relative;
    left: 0; }

  .side-nav {
    left: -187px;
    width: 187px;
    position: absolute;
    z-index: 0;
    transition: all 0.4s ease 0s; }

  .row-offcanvas.active {
    left: 187px; }

  .row-offcanvas .icon.icon-circle-arrow-right {
    display: inline-block; }

  .row-offcanvas .icon.icon-circle-arrow-left {
    display: none; }

  .row-offcanvas.active .icon.icon-circle-arrow-right {
    display: none; }

  .row-offcanvas.active .icon.icon-circle-arrow-left {
    display: inline-block; }

  .toggle-offcanvas {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 5px; }

  .row-offcanvas:not(.active) .toggle-offcanvas {
    margin-left: -15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px; } }
