.nn_yeahh{
	color:white;
}
.nav_item{
	 float:right;
	 color:white;
	 display: inline;
	 padding-left:40px;
}

.nav_list{
	 overflow: hidden; 
	list-style-type: none;
	display:inline;
}

.template-options{
	margin: 50px 0 0 0;
}

.save{
width: 100px; 
background-color: #F47321; 
color: white; 
font-size: 18px;
border-radius: 5px;
}